<div class="flex max-w-full items-center justify-between bg-gray-200 gap-1 p-4 relative">
  <app-bgig-logo class="w-[50px] duration-300 hover:cursor-pointer " routerLink="/feed"></app-bgig-logo>
  <div class="flex justify-end gap-1 sm:gap-4 w-full">
    <app-search-form class="flex-1 flex justify-end"></app-search-form>
    <div *ngIf="user; else elseNoUser" (click)="toggleModal()">
      <app-user-profile-img [user]="user"></app-user-profile-img>
    </div>
  </div>

  <!-- Modal para exibir opções de ações do usuário -->
  <app-menu-modal class="fixed z-50" (closeModal)="toggleModal()" [modalIsOpen]="modalIsOpen" [userProfileUrl]="userProfileUrl"></app-menu-modal>
</div>

<ng-template #elseNoUser>
  <div class="flex gap-5">
    <app-register-button></app-register-button>
    <app-login-button></app-login-button>
  </div>
</ng-template>
