<div class="flex h-full">
  <!-- Seção Lateral Esquerda -->
  <div class="w-1/4 p-4 border-r border-gray-300">
    <h2 (click)="handleGetPosts()" class="text-xl font-semibold mb-4 p-4 rounded-lg shadow-sm cursor-pointer hover:bg-gray-200 duration-200  hover:shadow-lg" [ngClass]="section === 'posts' ? 'bg-gray-200' : 'bg-gray-100'" >Posts</h2>
    <h2 (click)="handleGetUsers()" class="text-xl font-semibold mb-4 bg-gray-100 p-4 rounded-lg shadow-sm cursor-pointer hover:bg-gray-200 duration-200 hover:shadow-lg" [ngClass]="section === 'users' ? 'bg-gray-200' : 'bg-gray-100'">Usuários</h2>
  </div>

  <!-- Seção Lateral Direita -->
  <div class="w-3/4 p-4">
    <h1 class="text-2xl font-bold mb-2">Resultados para "{{ reference }}"</h1>
    <div *ngIf="section === 'posts'">
      <p class="mt-2 text-gray-400 font-semibold">{{ posts.length }} {{ posts.length === 1 ? "resultado" : "resultados" }}</p>
      <div *ngFor="let post of posts" (click)="postModalService.showPostModal(post)" class="flex flex-col bg-white p-6 rounded-lg shadow-lg cursor-pointer hover:shadow-2xl duration-200">
        <div class="flex gap-3">
          <app-user-profile-img class="flex" [user]="post.author"></app-user-profile-img>
          <div>
            <p [routerLink]="'/users/' + post.authorId" class="cursor-pointer hover:underline">{{ post.author.username | titlecase }}</p>
            <p class="text-xs">{{ post.createdAt | timeAgo }}</p>
          </div>
        </div>
        <h2 class="text-xl font-semibold mb-2">{{ post.title }}</h2>
        <p>{{ post.content.substring(0, 200) }}...</p>
      </div>
    </div>
    <div *ngIf="section === 'users'">
      <p class="mt-2 text-gray-400 font-semibold">{{ users.length }} {{ users.length === 1 ? "resultado" : "resultados" }}</p>
      <div *ngFor="let user of users" [routerLink]="'/users/' + user.id" class="flex flex-col bg-white p-6 rounded-lg shadow-lg cursor-pointer hover:shadow-2xl duration-200">
        <div class="flex gap-3 items-center">
          <app-user-profile-img class="flex" [user]="user"></app-user-profile-img>
          <p>{{ user.username | titlecase }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
