<div class="relative flex flex-col gap-2">
  <label for="password">Senha <span class="text-red-600" title="Campo obrigatório">*</span></label>
  <input 
    [attr.type]="showPassword ? 'text' : 'password'" 
    id="password" name="password"
    [(ngModel)]="password"
    autocomplete="current-password" 
    class="rounded border p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"  
    [ngClass]="errorPassword ? 'border-red-600 text-red-600' : 'border'"
    (ngModelChange)="onPasswordChange($event)"
    (focus)="errorPassword = null"/>
  <button type="button" class="absolute top-10 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none" (click)="togglePassword()">
    <ng-container *ngIf="showPassword; else elseEyeClosed">
      <app-eye-icon></app-eye-icon>
    </ng-container>
    <ng-template #elseEyeClosed>
      <app-eye-closed-icon></app-eye-closed-icon>
    </ng-template>
  </button>
  <div *ngIf="errorPassword" class="text-red-600">{{errorPassword}}</div>
</div>