<div class="w-screen h-screen flex flex-col md:flex-row items-center justify-center">
  <app-bgig-logo class="block md:hidden w-[100px]"></app-bgig-logo>
  <div class="w-full md:flex-1 p-4 flex justify-center">
    <div class="max-w-[500px] space-y-7 flex-1">
      <app-register-form></app-register-form>
      <app-hr-ou></app-hr-ou>
      <app-google-button class="flex justify-center"></app-google-button>
    </div>
  </div>
  <app-auth-bgig-logo class="flex-1 hidden md:block"></app-auth-bgig-logo>
</div>
