<div class="flex justify-center w-full h-full ">
  <div class="flex flex-col gap-3 my-5 max-w-[500px]">
    <div *ngFor="let post of posts" class="border rounded-xl">
      <app-post [post]="post"></app-post>
    </div>
    <div class="h-[200px] flex  justify-center" *ngIf="!loadingPosts; else elseLoading">
      <button (click)="loadMorePosts()" class="bg-blue-400 border mb-10 mt-3 rounded-xl w-full p-2 hover:bg-blue-500 hover:text-white duration-200">Carregar mais</button>
    </div>

  </div>
</div>

<ng-template #elseLoading>
  <h3 class="text-xl mt-10">Carregando...</h3>
</ng-template>