
<div 
[ngClass]="modalIsOpen ? 'visible opacity-100' : 'invisible opacity-0'"
(click)="onClickOutModal($event)"
class="fixed inset-0 flex justify-end bg-gray-800 bg-opacity-50 z-50">
  <div class="bg-white sm:w-[250px] p-4 flex flex-col items-center gap-5 transform transition-transform duration-300 ease-out"
  [ngClass]="modalIsOpen ? 'translate-x-0' : 'translate-x-full'">
    <div class="w-full flex justify-end items-center cursor-pointer">
      <app-close-icon class="flex cursor-pointer hover:bg-gray-200 rounded-full duration-200 p-2" (click)="leaveModal()"></app-close-icon>
    </div>
    <div class="flex flex-col gap-4">
      <button 
      (click)="leaveModal()" 
      class="flex items-center h-[50px] w-[200px] border rounded hover:bg-blue-400 duration-200" [routerLink]="userProfileUrl">
        <app-user-icon></app-user-icon>
        <p>Meu Perfil</p>
      </button>
      <button 
      (click)="leaveModal()" 
      class="flex items-center h-[50px] w-[200px] gap-2 border rounded hover:bg-blue-400 duration-200"
      routerLink="/user/settings">
        <app-gear-icon class="ms-3"></app-gear-icon>
        <p>Configurações</p>
      </button>
      <button 
      (click)="leaveModal()" 
      class="flex items-center h-[50px] p-3 w-[200px] gap-2 border rounded hover:bg-blue-400 duration-200"
      routerLink="/posts/new-post">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
        </svg>
        <p>Novo post</p>
      </button>
      <app-logout-button ></app-logout-button>
    </div>
  </div>
</div>

