<div *ngIf="modalIsOpen"
    (click)="onClickOutModal($event)"
    class="fixed inset-0 flex justify-end bg-gray-800 bg-opacity-50 z-50">
    <div class="bg-white w-full sm:w-[250px] p-4 flex flex-col items-center gap-5">
      <div class="w-full flex justify-end items-center cursor-pointer">
        <app-close-icon class="flex cursor-pointer hover:bg-gray-200 rounded-full duration-200 p-2" (click)="leaveModal()"></app-close-icon>
      </div>
      <div class="flex flex-col gap-4">
        <button 
        (click)="leaveModal()" 
        class="flex items-center h-[50px] w-[200px] border rounded hover:bg-blue-400 duration-200" [routerLink]="userProfileUrl">
          <app-user-icon></app-user-icon>
          <p>Meu Perfil</p>
        </button>
        <button 
        (click)="leaveModal()" 
        class="flex items-center h-[50px] w-[200px] gap-2 border rounded hover:bg-blue-400 duration-200"
        routerLink="/user/settings">
          <app-gear-icon class="ms-3"></app-gear-icon>
          <p>Configurações</p>
        </button>
        <app-logout-button ></app-logout-button>
      </div>
    </div>
  </div>