<!-- Mensagem de Carregamento -->
<app-loading *ngIf="loadingUser"></app-loading>

<!-- Se o carregamento terminou e há um usuário, exibe a seção do usuário -->
<div *ngIf="user" class="w-full h-full flex flex-col sm:flex-row">
  <div class="sm:h-full flex flex-col p-3 gap-3 border-r sm:w-[200px] border-b">
    <button 
      class="cursor-pointer border p-2 rounded hover:bg-gray-200 duration-200"
      (click)="section = 'info'"
      [ngClass]="section == 'info' ? 'bg-gray-200': ''" 
    >Informações</button>
    <button (click)="section = 'posts'" class="cursor-pointer border p-2 rounded hover:bg-gray-200 duration-200" [ngClass]="section == 'posts' ? 'bg-gray-200': ''">Posts</button>
  </div>
  <div class="w-full">
    <app-user-settings-info *ngIf="section === 'info'" [user]="user"></app-user-settings-info>
    <app-search-post *ngIf="section === 'posts'" [userId]="user.id"></app-search-post>
  </div>
</div>


