<div class="bg-white flex flex-col shadow-md rounded p-4 border sm:px-8 sm:pt-6 sm:pb-8 m-2 mb-4">
  <div class="flex gap-4">
    <!-- Container esquerdo -->
    <div>
      <h2 class="text-2xl text-center font-bold mb-4">Atualizar Imagem de Perfil</h2>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="profileImage">
          Selecione uma nova imagem de perfil
        </label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          accept="image/*"
        />
      </div>
    </div>
    
  <!-- Container direito -->

    <div *ngIf="imagePreview" class="mb-4 flex flex-col items-center gap-3">
      <p class="text-gray-700 mb-2">Pré-visualização:</p>
      <img [src]="imagePreview" alt="Preview" class="rounded-full w-32 h-32 object-cover" />
    </div>
  </div>

  <button
    (click)="onUpload()"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  >
    Enviar
  </button>
</div>