<div class="w-screen h-screen flex flex-col md:flex-row items-center justify-center">
  <div class="flex-1 p-4 flex justify-center">
    <div class="max-w-[500px] space-y-7 flex-1">
      <app-login-form></app-login-form>
      <div class="flex items-center my-4">
        <hr class="flex-grow border-t border-gray-300">
        <span class="px-2 text-gray-500">ou</span>
        <hr class="flex-grow border-t border-gray-300">
      </div>
      <app-google-button class="flex justify-center"></app-google-button>
    </div>
  </div>
  <div class="hidden md:block flex-1 bg-gray-200 md:h-screen">
    <div class="flex flex-col justify-center items-center w-full h-full">
      <app-bgig-logo class="mb-7 w-[150px]"></app-bgig-logo>
    </div>
  </div>
</div>
