<div class="relative">
  <div 
    *ngIf="alertModalService.modalIsOpen" 
    class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50"
    (click)="closeModalOnClickOutside($event)"
    >
    <div class="bg-white p-6 flex flex-col items-center rounded shadow-md max-w-sm w-full m-5">
      <div class="text-center">
        {{ alertModalService.modalMessage }}
      </div>
      <button (click)="alertModalService.toggleModal()" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded">
        Fechar
      </button>
    </div>
  </div>
</div>
