<div class="flex flex-col rounded p-3 gap-2 text-sm sm:text-base">
  
  <div class="flex justify-between gap-2">
    <div class="flex items-start gap-2">
      <app-user-profile-img [routerLink]="authorProfileUrl" [user]="post.author"></app-user-profile-img>
      <div>
        <p [routerLink]="authorProfileUrl" class="cursor-pointer hover:underline">{{ post.author.username | titlecase }}</p>
        <p class="text-xs">{{ post.createdAt | timeAgo }}</p>
      </div>
    </div>
    <div *ngIf="isAuthor" class="relative">
      <div class="flex justify-center items-center h-[30px] w-[30px] cursor-pointer rounded-full hover:bg-gray-100 duration-200" (click)="toggleDropDown()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
        </svg>
      </div>
      <app-post-options-dropdown [postId]="post.id" [dropdownIsOpen]="postOptionsDropDownIsOpen" (closedropdown)="toggleDropDown()"></app-post-options-dropdown>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <p>{{ post.title }} </p> 
    <p>{{ fullPostIsOpen ? post.content : shortPostContent }} <span *ngIf="!fullPostIsOpen" class="text-blue-500 cursor-pointer ms-2 p-1 px-2" (click)="showFullPostContent()">...mais</span></p>
  </div>
  <div *ngIf="fullPostIsOpen">
    <span class="text-blue-500" *ngFor="let tag of post.tags">
      #{{ tag.name }}
    </span>
  </div>
  <div class="flex justify-center max-h-[330px] max-w-[500px] rounded-2xl">
    <img *ngIf="post.thumbnailUrl" class="object-cover object-center flex-1 rounded-2xl" [src]="post.thumbnailUrl" alt="thumbnail">
  </div>
</div>
