<div class="flex flex-col rounded border p-3 gap-2 text-sm sm:text-base">
  
  <div class="flex items-start gap-2">
    <app-user-profile-img [routerLink]="authorProfileUrl" [user]="post.author"></app-user-profile-img>
    <div>
      <p [routerLink]="authorProfileUrl" class="cursor-pointer hover:underline">{{ post.author.username | titlecase }}</p>
      <p class="text-xs">{{ post.createdAt | timeAgo }}</p>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <p>{{ post.title }} </p> 
    <p>{{ fullPostIsOpen ? post.content : shortPostContent }} <span *ngIf="!fullPostIsOpen" class="text-blue-500 cursor-pointer ms-2 p-1 px-2" (click)="showFullPostContent()">...mais</span></p>
  </div>
  <div *ngIf="fullPostIsOpen">
    <span class="text-blue-500" *ngFor="let tag of post.tags">
      #{{ tag.name }}
    </span>
  </div>
  <div class="flex justify-center max-h-[330px] max-w-[500px] rounded-2xl">
    <img *ngIf="post.thumbnailUrl" class="object-cover object-center flex-1 rounded-2xl" [src]="post.thumbnailUrl" alt="thumbnail">
  </div>
</div>
